/*  your css code here. If applicable */
.root {
	display: flex;
	justify-content: center;
	align-items: center;
}

div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 32px;
	text-align: center;
	width: 300px;
	margin: auto;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px #888;
}

img {
	width: 100%;
}

button {
	padding: 12px;
	background-color: #ef574c;
	color: white;
	border-radius: 8px;
	border: none;
}







